useDynLib(Rtesseract, R_ResultIterator_Confidence)

import(methods)

importFrom("utils", read.table)
import(graphics)
importFrom("grDevices", "rgb")


export(ocr)
export(PageIteratorLevel)

export(tesseractVersion)

exportClass("TesseractBaseAPI")
exportClasses("Pix", "ResultIterator")
export(tesseract)


export(lapply)
exportMethods(lapply)

export(GetIterator, SetImage, Recognize, Init, End, SetVariables, pixRead)

export(GetText, Confidence, BoundingBox, BoundingBoxes)

export(SetRectangle, Clear)
export(GetInitLanguages, ReadConfigFile, SetSourceResolution)

export(GetVariables)

export(IsValidWord)

export(GetDatapath, GetSourceYResolution, GetInputName)

export(PrintVariables)

exportClass(PageIteratorLevel)

exportMethods(coerce)
exportMethods(plot)

export(leptonicaImageFormats)

export(compareWord, compareWords) # collapse

S3method(plot, ConfusionMatrix)
export(plotSubImage)

export(GetAlternatives)

