useDynLib(Rtesseract, R_ResultIterator_Confidence)

import(methods)

importFrom("utils", read.table)
import(graphics)
importFrom("grDevices", "rgb", "colorRampPalette")
importFrom("stats", dist, median, quantile)

import(RAutoGenRunTime)

export(tesseractVersion)

export(ocr)
export(tesseract)

exportClass(PageIteratorLevel)
export(PageIteratorLevel)



exportClass("TesseractBaseAPI")
exportClasses("Pix", "ResultIterator")


export(lapply)
exportMethods(lapply)

export(GetIterator, SetImage, Recognize, Init, End, SetVariables, pixRead)

export(GetText, Confidence, BoundingBox, BoundingBoxes)
#, GetAlternatives)


export(SetRectangle, Clear, ClearAdaptiveClassifier )
export(GetInitLanguages, ReadConfigFile, SetSourceResolution)

export(GetVariables)

export(IsValidWord)

export(GetDatapath, GetSourceYResolution, GetInputName, SetInputName)

export(PrintVariables)



exportMethods(coerce)
exportMethods(plot)

export(leptonicaImageFormats)

export(compareWord, compareWords) # collapse

S3method(plot, ConfusionMatrix)
export(plotSubImage)




export(readBoxFile)


export(SetPageSegMode, GetPageSegMode)


#exportClasses("PageSegMode")
exportClasses(PolyBlockType, Orientation, WritingDirection, TextlineOrder, PageSegMode, PageIteratorLevel, ParagraphJustification, OcrEngineMode, StrongScriptDirection)

S3method(plot, TesseractBoxdata)


export(getSmudges, getCharWidth, getCharHeight, bboxToDF, orderBBox)

export(getText)
export(getConfidences, getBoxes, getAlternatives)
exportMethods("getConfidences", "getBoxes", "getAlternatives")

export(getImageDims, getImageInfo, GetImage, GetInputImage)


export(GetThresholdedImage)


export(hasRecognized) # rename!

export(SetOutputName)

export(oem)


export(ProcessPages)

export(ClearPersistentCache)




export(PSM_OSD_ONLY, PSM_AUTO_OSD, PSM_AUTO_ONLY, PSM_AUTO, PSM_SINGLE_COLUMN, PSM_SINGLE_BLOCK_VERT_TEXT, PSM_SINGLE_BLOCK, PSM_SINGLE_LINE, PSM_SINGLE_WORD, PSM_CIRCLE_WORD, PSM_SINGLE_CHAR, PSM_SPARSE_TEXT, PSM_SPARSE_TEXT_OSD, PSM_RAW_LINE)

export(RIL_BLOCK, RIL_PARA, RIL_TEXTLINE, RIL_WORD, RIL_SYMBOL)

export(OEM_TESSERACT_ONLY, OEM_CUBE_ONLY, OEM_TESSERACT_CUBE_COMBINED, OEM_DEFAULT)
